doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Motel Dos Caminos | #{page}
        link(rel="icon", type="image/x-icon", href="/img/MotelLogo.png")
        block styles 
        link(rel="stylesheet", href="/css/app.css")
        script(src="/js/setTime.js") 
    body.mint-h-screen.bg-Fondo
        main(class="")
            if showHeader 
                include navbar
            else
                include navbarPublic
            block content
        block scripts 