script(src="/js/scripts.js")

header.bg-amber-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        div.px-9
            image(src="/img/MotelLogo.png").w-14
        h1.text-2xl.text-black.font-extrabold.text-center Motel Dos Caminos
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            a(href="/user/userHome" class="bg-amber-700 py-2 px-10 rounded-lg hover:bg-amber-200") Inicio      
            a(href="/user/reservacion" class="bg-amber-700 py-2 px-10 rounded-lg hover:bg-amber-200") Reservar               
            a(href="/user/historial" class="bg-amber-700 py-2 px-10 rounded-lg hover:bg-amber-200") Mis reservaciones
            a(href="/logout" class="bg-amber-700 py-2 px-10 rounded-lg hover:bg-amber-200") Salir                   
