extends ../layout/index
block styles
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
block content
    .py-10.text-center.p-5.font-extrabold.text-xl.text-lg
        // Contenedor para el botón y el div de bienvenida
        div.flex.flex-col
        p.text-black Bienvenido a Motel Dos Caminos.
        br
        p.text-white Explora un poco nuestras habitaciones disponibles, con sus caracteristicas de cada uno y eligue la que desees.
    div.flex.flex-row.flex-wrap.content-around.mx-auto.items-center
        div.bg-white.shadow.py-5.px-5.rounded-xl.mx-15.max-w-2xl.my-10.md-px-10.ml-8
            img(src="/img/mo.jpg", class="object-cover h-48 w-96 object-center")
            br
            p.text-black.font-extrabold.text-xl Habitaciones estandar.
            br
            p.text-gray-800 
                | Habitacion uno con su espacio 
                br
                | de estacionamiento propio,
                br
                | cuenta con un tubo para poldance.
            br
            div.flex.items-center
                div.items-center.w-20
                    img(src="/img/reservacion.png", class="flex object-right")
            br
            a(href="/user/reservacion", class="bg-green-500 hover:bg-green-300 text-white text-xl py-2 px-10 rounded-lg flex items-center justify-center") Reservar

        div.bg-white.shadow.py-5.px-5.rounded-xl.mx-15.max-w-2xl.my-10.md-px-10.ml-4
            img(src="/img/moo.jpg", class="object-cover h-48 w-96 object-center")
            br
            p.text-black.font-extrabold.text-xl Suits.
            br
            p.text-gray-800 
                | Habitacion uno con su espacio 
                br
                | de estacionamiento propio,
                br
                | cuenta con un tubo para poldance.
            br
            div.flex.items-center
                div.items-center.w-20
                    img(src="/img/reservacion.png", class="flex object-right")
            br
            a(href="/user/reservacion", class="bg-green-500 hover:bg-green-300 text-white text-xl py-2 px-10 rounded-lg flex items-center justify-center") Reservar

        div.bg-white.shadow.py-5.px-5.rounded-xl.mx-15.max-w-2xl.my-10.md-px-10.ml-4
            img(src="/img/estacionamiento.jpg", class="object-cover h-48 w-96 object-center")
            br
            p.text-black.font-extrabold.text-xl Estacionamiento.
            br
            p.text-gray-800 
                | Incluye un estacionamiento 
                br
                | propio y con privacidad,
                br
                | para mayor confianza con nosotros,
            br
            div.flex.items-center
                div.items-center.w-24
                    img(src="/img/aparcamiento.png", class="flex object-right")
            br
            br


    div.bg-amber-500.shadow.py-5.px-5.mx-auto.w-96.my-10.md-px-10.m-12.flex.items-center.justify-center.border.border-4.rounded-xl
        p.text-white.text-center.font-extrabold.text-xl Informacion del servicio a la habitacion.
        img(src="/img/serHab.png").w-20
    div.bg-white.shadow.py-5.px-5.mx-auto.my-10.md-px-10.m-12.flex.items-center.justify-center.ml-auto.flex-wrap.border.border-4.border-black
        //img(src="img/clasificacion.png", alt="").w-20.ml-3.mr-8
        img(src="/img/clasificacion.png", class="flex object-right").w-20.ml-3.mr-8
        div.bg-amber-200.p-4.rounded-lg.text-center.text-black.w-auto.text-xl
            p
                | En nuestro motel, el servicio a la habitación es la máxima expresión de comodidad. 
                br
                | Desde deliciosos platillos hasta pequeños detalles, nos esforzamos por hacer su estancia inolvidable.
                br 
                | Disfrute de la privacidad de su habitación con nuestras entregas rápidas y discretas, asegurándonos de que cada experiencia sea única.
                br
                | Su satisfacción es nuestra prioridad.
                br
                | Debe tener en cuenta que el servicio a la habitacion se pide desde la Reserva.
        img(src="/img/brilla.png", class="flex object-right").w-20.ml-3.mr-8
        
    div.bg-white.shadow.py-5.px-5.mx-auto.w-96.my-10.md-px-10.m-12.flex.items-center.justify-center.border.border-4.rounded-xl.border-black
        p.text-black.text-center.font-extrabold.text-xl Informacion de nuestra ubicacion.
        img(src="/img/mapa.png").w-20
    div.bg-amber-500.shadow.py-5.px-5.max-w-8xl.my-10.md-px-10.m-12.flex.items-center.justify-center.border.border-4.rounded-xl.border-black   
        div.border-amber-500.border-t.py-5.space-y-5
            div.bg-white.rounded-xl.mx-auto
                h3.block.text-center.uppercase.text-black.mb-3.font-bold.extra-bold.px-8.text-xl Ubicacion
            p.text-black.extrabold.text-xl Nos ubicamos sobre la carretera de Huauchinango - Xicotepec de Juarez, frente a los departamentos del 70 Batallon.
            #map.h-96.border.border-4.rounded-xl.border-white
            div
                //- p.street
            //- input#street(type="hidden", name="street", value=data.street !== undefined ? data.street : '')
            //- input#lat(type="hidden", name="lat", value=data.lat !== undefined ? data.lat : '')
            //- input#lng(type="hidden", name="lng", value=data.lng !== undefined ? data.lng : '')
block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
    script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
    script( src="/js/map.js") 
