extends ../layout/index 
block content
    div.py-10 
        h1.text-center.text-4xl.my-10.font-extrabold(class="text-black-700") Motel 
            span.font-normal.text-black Dos 
            span.text-center.text-4xl.my-10.font-extrabold(class="text-black-700") Caminos
        h2.text-center.text-3xl.font-extrabold= page 
        if errors 
            div#message.mt-8.mx-auto.max-w-xl(class="text-center time")
                div.text-center(class="bg-red-500 text-white uppercase font-bold rounded-t px-6 py-2 mt-1 max-w-2xl") Warning
                            
                    div.bg-red-600.text-white.uppercase.text-xs.text-center.p-4.mb-2.font-bold(class="border border-t-0 border-red-400 rounded-b bg-red-100 px-6 py-4 text-red-700 max-w-2xl")
                        each error in errors 
                            p(class="bg-red-600 text-white uppercase text-sm text-center p-4 mb-2 font-bold rounded")=error.msg   
        .mt-8.mx-auto.max-w-xl
            .bg-white.py-8.px-4.shadow-x1.rounded-1g.shadow-2xl
                form.space-y-5(action="" noValidate method="POST")
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for= "password") Contraseña: 
                        input#password.w-full.px-3.py-3.py-2.border.border-gray-300.rounded-sm.place-holder-gray-400(placeholder="Enter your password" name="password"  type="password" required)
                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for= "repeatPassword" type="password") Repite Contraseña: 
                        input#confirmPassword.w-full.px-3.py-3.py-2.border.border-gray-300.rounded-sm.place-holder-gray-400(placeholder="Renter password" name="confirmPassword"  type="password")
                     
                    input#btn-login.w-full.bg-orange-500.text-white(class="text-gray-800 font-bold py-3 cursor-pointer bg-blue-200 rounded-xl hover:bg-cyan-600 hover:text-white" type="submit" value="Recovery")
    